<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> student<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('admin/student/index')}" data-title="student-index" href="javascript:void(0)">index</a></li>
				</ul>
				<ul>
					<li><a data-href="{:url('admin/student/create')}" data-title="student-create" href="javascript:void(0)">create</a></li>
				</ul>
			</dd>
		</dl>
		<dl>
			<dt><i class="Hui-iconfont">&#xe616;</i> teacher<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('admin/teacher/index')}" data-title="teacher-index" href="javascript:void(0)">index</a></li>
				</ul>
				<ul>
					<li><a data-href="{:url('admin/teacher/create')}" data-title="teacher-create" href="javascript:void(0)">create</a></li>
				</ul>
			</dd>
		</dl>
		<dl>
			<dt><i class="Hui-iconfont">&#xe616;</i> grand<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('admin/brand/index')}" data-title="brand-index" href="javascript:void(0)">index</a></li>
				</ul>
				<ul>
					<li><a data-href="{:url('admin/brand/create')}" data-title="brand-create" href="javascript:void(0)">create</a></li>
				</ul>
			</dd>
		</dl>
		<dl>
			<dt><i class="Hui-iconfont">&#xe616;</i> category<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('admin/category/index')}" data-title="category-index" href="javascript:void(0)">index</a></li>
				</ul>
				<ul>
					<li><a data-href="{:url('admin/category/create')}" data-title="category-create" href="javascript:void(0)">create</a></li>
				</ul>
			</dd>
		</dl>
		<dl>
			<dt><i class="Hui-iconfont">&#xe616;</i> tag<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('admin/tag/index')}" data-title="category-index" href="javascript:void(0)">index</a></li>
				</ul>
				<ul>
					<li><a data-href="{:url('admin/tag/create')}" data-title="category-create" href="javascript:void(0)">create</a></li>
				</ul>
				<ul>
					<li><a data-href="{:url('admin/tag/upload')}" data-title="category-create" href="javascript:void(0)">upload</a></li>
				</ul>
				<ul>
					<li><a data-href="{:url('admin/tag/uediter')}" data-title="category-create" href="javascript:void(0)">uediter</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('admin/role/index')}" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
					<li><a data-href="{:url('admin/premission/index')}" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>
					<li><a data-href="{:url('admin/user/index')}" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>